.event {
    width: auto;
    background-color: lightgoldenrodyellow;
    padding: 30px;
  }
  
  .event .heading {
    border-bottom: 5px solid orange;
    padding: 10px;
    color: #fff;
    background-color: orange;
    text-align: center;
  }
  
  .event ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    height: 400px;
  }
  
  .event ul li {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    float: left;
    clear: both;
    animation: scrollAnimation 3s infinite linear;
  }
  
  .event-date {
    background-color: orange;
    float: left;
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding: 8px 12px;
    margin-right: 10px;
    line-height: 1.2;
    min-width: 60px;
  }
  
  @keyframes scrollAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  